.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simple-slider {
  width: 550px;
  height: 350px;
  margin: 0 auto;
  text-align: center;
}
.simple-slider .slide-img {
  max-width: 80%;
  height: 300px;
  transition: 1s all;
}

.slider-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}
.slider-new {
  width: 550px;
  height: 300px;
  background-color: #f0f0f0;
  background: url(https://static9.depositphotos.com/1006075/1197/i/450/depositphotos_11973672-stock-photo-cupcakes.jpg);
}
