@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	margin: 20px;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	background-color: #e8e8e8;
	color: #222831;
}
button {
	width: auto;
	height: 30px;
	border: none;
	outline: none;
	background-color: #f05454;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	border-radius: 7px;
	transition: 0.5s all ease-in-out;
	&:hover {
		background-color: #30475e;
		transition: 0.5s all ease-in-out;
	}
}

.quiz {
	margin: 0 auto;
	width: 600px;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.quiz-questions,
.quiz-indicator,
.quiz-results {
	margin-bottom: 20px;
}

.quiz-question-item,
.quiz-result-item {
	transition: 0.5s all ease-in-out;
	margin-bottom: 20px;
	&__question {
		font-size: 20px;
		margin-bottom: 20px;
	}
	&__answer {
		margin: 0;
		padding: 0;
		list-style: none;
		& li:hover {
			transition: 0.5s all ease-in-out;
			text-shadow: 1px 2px 1px #474747;
		}
	}
}
.quiz-indicator {
	margin-bottom: 20px;
}
.quiz-results {
	display: none;
}

.btn-next {
}
.btn-restart {
	display: none;
}
.question--hidden,
.indicator--hidden,
.btn-next--hidden {
	display: none;
}
.result--visible,
.btn-restart--visible {
	display: block;
}

.answer--invalid {
	color: red;
}
.answer--valid {
	color: green;
}
